<!-- NAV -->
<hr>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better moe display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="/">Box Info</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- LEFT -->
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="model.search">
        </div>
      </form>
      <p class="navbar-text">per pages</p>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <!-- <span class="input-group-addon" id="basic-addon"></span> -->
          <input type="number" min="20" max="100" class="form-control" placeholder="Per Pages" ng-model="pageSize">
        </div>
      </form>
      <!-- LOGIN FORM -->
    </form>
    <p class="navbar-text"><mark>{{user}}</mark></p>
    <!-- RIGHT FORM -->
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">

      </div>
      <a href="/login"><button class="btn btn-danger" ng-hide="bi.isLogged();">로그인</button></a>
      <button type="submit" class="btn btn-default" ng-click="bi.getBoxinfo();">Get Boxinfo</button>
      <button type="submit" class="btn btn-success" ng-click="bi.startCreating(); ">Box Create</button>
      <button type="submit" class="btn btn-warning" ng-click="bi.cancelCreating();">Box Cancel</button>
      <a href="/login"><button class="btn btn-danger" ng-click="bi.logout();" ng-show="bi.isLogged();">로그아웃</button></a>
    </form>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- END NAVbar -->
<hr>
<!-- <h1>Get Random User</h1> -->

<!-- <div>
<form class="form-horizontal" ng-submit="bi.login(bi.username, bi.password)">
<label>Username: <input type="text" ng-model="bi.username"/></label><br/>
<label>Password: <input type="password" ng-model="bi.password"/></label><br/>
<button type="submit">Login</button>
</form>
</div> -->

<!-- <h1>Welcom !!! {{bi.user.username}}  !!!</h1> -->
<!-- <button ng-click="bi.logout();">Logout</button>
<hr> -->
<!-- <div>
<button ng-click="bi.getRandomUser()">Get User</button>
<pre ng-bind="bi.randomUser | json"></pre>
{{bi.randomUser | json}}
</div> -->

<!-- <div>
<button ng-click="bi.getBoxinfo(); bi.startGetting();">Get Boxinfo</button>
<pre ng-bind="bi.boxinfo | json"></pre>
{{bi.randomUser | json}}

</div> -->

<!-- CREATE FORM -->
<form class="form-horizontal" ng-show="bi.isCreating" ng-submit="bi.createBoxInfo(newBoxinfo);" novalidate>
  <div class="form-group">
    <label for="boxname" class="col-sm-2 control-label">Box Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="boxname" placeholder="Box Name" ng-model="newBoxinfo.boxname">
    </div>
  </div>
  <div class="form-group">
    <label for="boxtype" class="col-sm-2 control-label">Box Type</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="boxtype" placeholder="Box Type" ng-model="newBoxinfo.boxtype">
    </div>
  </div>
  <div class="form-group">
    <label for="boxip" class="col-sm-2 control-label">Box IP</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="boxtype" placeholder="Box IP" ng-model="newBoxinfo.boxip">
    </div>
  </div>
  <div class="form-group">
    <label for="boxgateway" class="col-sm-2 control-label">Box Gateway</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="boxgateway" placeholder="Box Gateway" ng-model="newBoxinfo.boxgateway">
    </div>
  </div>
  <div class="form-group">
    <label for="license" class="col-sm-2 control-label">License</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="license" placeholder="License" ng-model="newBoxinfo.license">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-11">
      <button type="submit" class="btn btn-default" ng-click="bi.cancelCreating(); bi.getBoxinfo();">Create</button>
      <button type="button" class="btn btn-default" ng-click="bi.cancelCreating();">
        Cancel
      </button>
    </div>
  </div>
  <hr>
</form>
<!-- SHOW BOXINFO -->
<div ng-show="bi.isLoggedIn">
  <h4>CurrentPage: {{ currentPage }}</h4>
  <table class="table table-bordered " >
    <tr class="info">
      <th>DELETE</th>
      <!-- <th>NUMBER</th> -->
      <th>BOX NAME</th>
      <th>LICENSE</th>
      <th>BOX TYPE</th>
      <th>BOX IP</th>
      <th>BOX GATEWAY</th>
    </tr>
    <!-- <tr dir-paginate="tempbox in tempboxinfo | filter:model.search" current-page="currentPage" pagination-id="boxinfoPagination" ng-show="">
      <td><button type="button" class="close" ng-click="bi.deleteboxinfo(tempbox)">&times;</button></td>
      <td>{{tempbox.boxname}}</td>
      <td>{{tempbox.license}}</td>
      <td>{{tempbox.boxtype}}</td>
      <td>
        http : <a ng-href="http://{{box.boxip}}:4242" style="text-decoration: none;" target="_blank">{{tempbox.boxip}}</a> |
        https : <a ng-href="https://{{box.boxip}}:4243" style="text-decoration: none;" target="_blank">{{tempbox.boxip}}</a>
      </td>
      <td>{{tempbox.boxgateway}}</td>
    </tr> -->
    <tr dir-paginate="box in bi.boxinfo | filter:model.search | itemsPerPage: pageSize" current-page="currentPage" pagination-id="boxinfoPagination">
      <td><button type="button" class="close" ng-click="bi.deleteboxinfo(box)">&times;</button></td>
      <!-- <td>{{$index + 1}}.</td> -->
      <td>{{box.boxname}}</td>
      <td>{{box.license}}</td>
      <td>{{box.boxtype}}</td>
      <td>
        http : <a ng-href="http://{{box.boxip}}:4242" style="text-decoration: none;" target="_blank">{{box.boxip}}</a> |
        https : <a ng-href="https://{{box.boxip}}:4243" style="text-decoration: none;" target="_blank">{{box.boxip}}</a>
      </td>
      <td>{{box.boxgateway}}</td>
    </tr>
  </table>
  <div class="row">
      <div class="col-xs-12">
          <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="/bower_components/angularUtils-pagination/dirPagination.tpl.html" pagination-id="boxinfoPagination"></dir-pagination-controls>
          </div>
        </div>
      </div>
</div>
